@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
    display: none;
}

body {
    background-color: #111112;
    overflow-x: hidden;
}

// AOS styles
$aos-distance: 10px;
@import 'node_modules/aos/src/sass/aos.scss';

#hero-section {
    background: radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0.1) 100%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.what-we-make, .core-values, .meet-the-team, .current-openings, .footer, .blogs {
    z-index: 2;
}

.blogs {
    margin-top: 100vh;
}

.main-cta:hover {
    background-color: #E0E0E0;
}

#starfall {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.gray-95 {
    background-color: #1C1D1F;
}

.gray-100 {
    background-color: #111112;
}

.dark-secondary-font-color {
    color: #919191
}

.team-image {
    object-fit: cover;
    opacity: 0.8;
    transition: opacity .5s ease-out;
    aspect-ratio: 10 / 14;
}

.team-image:hover{
    opacity: 1;
}

#team-grid {
    grid-gap: 24px;

    > div {
        margin: auto;
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    @media screen and (min-width: 1200px) and (max-width: 1439px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @media screen and (min-width: 941px) and (max-width: 1199px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media screen and (min-width: 640px) and (max-width: 940px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (min-width: 10px) and (max-width: 639px) {
        grid-gap: 16px; 

        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.footer-links {
    @media screen and (min-width: 768px) {
        grid-template-columns: 0.7fr 1fr 1fr;        
    }
}

#team-grid {
    div {
        h4, div {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            -webkit-line-clamp: 1;
            // max-width: 35vw;
        }
    }
}

@media screen and (min-width: 10px) and (max-width: 639px) {
    .team-image {
        max-width: 39.5vw;
    }
}