@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
    display: none;
}

body {
    background-color: #111112;
    overflow-x: hidden;
}

// AOS styles
$aos-distance: 10px;
@import 'node_modules/aos/src/sass/aos.scss';

#intro-section {
    background: radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0.1) 100%);
    height: 800px;
}

.main-cta:hover {
    background-color: #E0E0E0;
}

#starfall {
    position: absolute;
    z-index: -1;
    height: 90rem;
    overflow: hidden;
    
    @media screen and (max-width: 400px) {
        transform: translate(-240px, -620px);
        max-width: 161vw;
    }
}

.gray-95 {
    background-color: #1C1D1F;
}

.gray-100 {
    background-color: #111112;
}

.dark-secondary-font-color {
    color: #919191
}

.team-image{
    width: 11rem;
    height: 17rem;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity .5s ease-out;
}

.team-image:hover{
    opacity: 1;
}